@media only screen and (max-width:1024px){
   #header
   {
        padding: 0 20px;
   }
    .header_nav
   {
        &_logo_img
        {
            width: 80px;
            display: block;
            object-fit: contain;
            height: auto;
        }
        &_menu ul li h2 a
        {
              font-size: 0.9rem;
              font-weight: 700;  
              letter-spacing: 0.25px;
              display: block;
        }
        &_multi-level ul
        {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;  
            border: 1px solid transparent;
            min-width: 150px;
            gap: 15px 0;
            padding: 10px 15px;   
            background-color: #fafafa;
            box-shadow: 2px 2px 4px 2px rgba($color: #000000, $alpha: 0.2);
            border-radius: 4px;
        }
        &_multi-level ul li h4 a
        {
          font-size: 1rem;
          display: block;
          text-transform: uppercase;
          border-bottom: 1px solid #dcdbdb;
          min-width: 150px;
          transition: all 0.3s ease;
        }
        &_form_buy
        {
            min-width: 300px;
        }
        &_form_buy_flex h3
        {
            font-size: 1rem;
        }
        &_form_buy_flex p a
        {
            padding: 15px;
            font-size: 0.8rem;
            cursor: pointer;
        }
        &_form_buy_empty img
        {
            object-fit: contain;
            width: 120px;
        }
        &_form_search_input_flex
        {
            padding: 5px;
        }
   }
   .choose_accout 
   {
     min-width: 50px;
   }
}
@media all and (max-width:768px)
{
    #header
    {
        padding: 10px;
      
    }
    .grid
    {
        padding: 0 20px;
    }
    .header_nav
    {
        align-items: center;
        &_menu_responsive
        {
            display: block;
            
        }
        &_logo_img
        {
            width: 60px;
            display: block;
            object-fit: contain;
            height: auto;
        }
        &_menu ul li h2 a
        {
              font-size: 0.9rem;
              font-weight: 700;  
              letter-spacing: 0.25px;
              display: block;
        }
        &_multi-level ul
        {
            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;  
            border: 1px solid transparent;
            min-width: 150px;
            gap: 15px 0;
            padding: 10px 15px;   
            background-color: #fafafa;
            box-shadow: 2px 2px 4px 2px rgba($color: #000000, $alpha: 0.2);
            border-radius: 4px;
        }
        &_multi-level ul li h4 a
        {
          font-size: 1rem;
          display: block;
          text-transform: uppercase;
          border-bottom: 1px solid #dcdbdb;
          min-width: 150px;
          transition: all 0.3s ease;
        }
        &_form_buy
        {
            min-width: 300px;
        }
        &_form_buy_flex h3
        {
            font-size: 1rem;
        }
        &_form_buy_flex p a
        {
            padding: 15px;
            font-size: 0.8rem;
            cursor: pointer;
        }
        &_form_buy_empty img
        {
            object-fit: contain;
            width: 120px;
        }
        &_form_search_input_flex
        {
            padding: 5px;
        }
        &_menu
        {
            display: none;
        }
        &_menu_responsive_item_close p
        {
            text-align: end;
            padding: 10px 6px;
            // display: inline-block;
            transition: all 0.3s ease;
        }
        &_menu_responsive_item_close p i:hover,
        &_menu_responsive_item_close p i:active
        {
            color: #dcdbdb;    
        }
        &_menu_responsive ul
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap:0 20px ;
        }
        &_menu_responsive_item 
        {
            position: fixed;
            top: 0;
            left: 0;
            min-height: 100%;
            background-color: #fafafa;
            border: 1px solid black;
            min-width: 250px;
            padding: 10px ;
            transition: all 0.6s ease;
            transform: translateX(-100%);
        }
        &_menu_responsive_item ul
        {
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: center;
            gap:15px 0;
            
        }
        &_menu_responsive_item ul li h2 a
        
        {
            border-bottom:1px solid #bfbcbc;
            text-transform: uppercase;
            min-width: 300px;
            padding: 5px 0;
            transition: all 0.6s ease;
        }
        &_menu_responsive_item ul li h2 a:hover,
        &_menu_responsive_item ul li h2 a:active
        {
            color: #dcdbdb;
        }
        
    }
    .active
    {
        transition: all 1s ease;
        transform: translateX(0%);
    }
}